*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Inter', sans-serif;
}

body{
    width: 1440px;
    height: 1024px;
    background-color: #F6F6FB;
}

nav{
    width: 1440px;
    height: 128px;
    padding: 24px;
    gap: 10px;
}

.navbar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1392px;
  height: 80px;
  padding-top : 12px;
  padding-right: 80px;
  padding-bottom: 12px;
  padding-left: 80px;
  border-radius: 99px;
  box-shadow: 0px 4px 20px 0px #9379CA0D;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 420px;
  height: 56px;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 56px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    gap: 10px;

}
.menu a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: #1a1a2c;


}
.menu a:hover{
    color: #5E44FF;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;

   }

.hero{
    width: 1440px;
    height: 968px;
    top: 128px;
    gap: 120px;
    padding-top: 120px;
    padding-right: 120px;
    padding-bottom: 140px;
    padding-left: 120px;

    .hero-container{

        width: 1200px;
        height: 316px;
        gap: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


    .hero-content-title{
        margin-top: 0;
        width: 236px;
        height: 40px;
        padding-top: 8px;
        padding-right: 20px;
        padding-bottom: 8px;
        padding-left: 20px;
        border-radius: 999px;
        background: #563AFF1A;
    
        p {
        height: 24px;
        width: 196px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        font-style: Medium;
        color: #5E44FF;
        }
    }

    .hero-content {
        width: 1200px;
        height: 140px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    h1{
        font-size: 80px;
        font-weight: 800;
        font-style: extra-bold;
        line-height: 84px;
        letter-spacing: -2px;
        text-align: center;
        color: #1a1a2c;
        span{
            color: #5E44FF;
        }
    }

    h3{
        font-size: 24px;
        font-weight: 600;
        font-style: Semi-bold;
        line-height: 32px;
        text-align: center;
        color: #1a1a2c;
    }
}

    .hero-btn{
        width: 187px;
        height: 56px;
        border-radius: 16px;
        background-color: #1a1a2c;
        color: #FFFFFF;
        padding: 16px 36px 16px 36px;
        gap: 6px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        font-style: Semi-bold;
        text-align: center;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }   
}
}


.feature-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 120px;
    padding-right: 120px;
    padding-bottom: 140px;
    padding-left: 120px;
}

.card{
    border-radius: 24px;
    width: 387px;
    height: 272px;
    padding: 30px;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    border: solid white;
    border-radius: 15px;
    background-color: white;
    padding: 14px;
    color: #5e44ff;
}

#card-1{
    background-color: #d7e5f6;
}

#card-2{
    background-color: #d8e0fc;
}

#card-3{
    background-color: #e8dcf6;
}

.card-description{
    color: #5f5f76;
    font-size: 16px;
    display: flex;
    line-height: 24px;
}

.card-title{
    color: black;
    font-size: 24px;
    font-weight: 580;
    line-height: 32px;
}

.text-content{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 15px;
    font-family: sans-serif;
}
